{% extends "base.html" %}

{% block content %}
    <div>MNIST Nueral Network</div>
    <p> <b>Please upload an image(format should be .png, .jpeg, .jpg)</b> </p>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.image.label }}<br>
            {{ form.image(size=32) }}<br>
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}